DATABASE_URL="postgresql://user:pass@localhost:5432/parkir_kampus?schema=public"
GATE_SECRET="ganti-dengan-secret-kuat"
NEXT_PUBLIC_APP_MODE="demo"
AUTH_SECRET="ganti-dengan-auth-secret-yang-sangat-rambut"
NEXTAUTH_URL="http://localhost:3000"
DEMO_USER_EMAIL="admin@campusparking.com"
DEMO_USER_PASSWORD="admin123"
