DATABASE_URL=postgresql://user:pass@localhost:5432/parkir_kampus
GATE_SECRET=ganti-dengan-secret-kuat
NEXTAUTH_SECRET=ganti-dengan-secret-kuat-sekali
NEXTAUTH_URL=http://localhost:3000
PORT=3000
STORAGE_PATH=./storage/foto-parkir
APP_MODE=demo
